<div class="card">
  <div class="card-header">
    <h5 class="text-base-color text-bold">إضافة طبيب </h5>
  </div>
  <div class="card-body">

        <nb-tabset>
          <nb-tab tabTitle="البيانات الرئيسية">
            <ngx-basic-info></ngx-basic-info>
          </nb-tab>
          <nb-tab tabTitle="المرفقات">
            <ngx-files-upload></ngx-files-upload>
          </nb-tab>
          <nb-tab tabTitle="البيانات الوظيفية">
            <ngx-job-info></ngx-job-info>
          </nb-tab>
          <nb-tab tabTitle="بيانات الحساب">
            <ngx-account-info></ngx-account-info>
          </nb-tab>
        </nb-tabset>

  </div>
</div>
