<div class="card">
  <div class="card-header">
    <h4 class="text-primary">كل المستشفيات</h4>
    <button class="btn btn-primary background-primary">
      <i class="fa-solid fa-circle-plus"></i>
      إضافة مستشفي
    </button>
  </div>
  <div class="card-body">
    <!-- begin:Table -->
    <div class="table-wrapper h-100">
      <!-- <auk-re-table (searchChange)="searchChange($event)" [rows]="tableData" [columns]="columns"
          [actions]="actions" [showPaginator]="true" (sort)="onSort($event)" [externalSorting]="false"
          [isLoading]="isLoading" [actionsData]="actionsData" [paginatorState]="paginator"
          (onAction)="tableAction($event)" (onPaginateChange)="paginate($event)">
      </auk-re-table> -->
  </div>
  <!-- end: Table -->
  </div>
</div>
