<div class="card">
  <div class="card-header">
    <h3 class="card-title align-items-start flex-column mr-3 mb-5 mt-0">
      <span class="card-label text-primary">اضافة طبيب</span>
    </h3>
    <button mat-button (click)="closeDialog()">
      <i mat-dialog-close class="fas fa-times text-primary" ></i>
    </button>
  </div>
  <div class="card-body">

        <nb-tabset>
          <nb-tab tabTitle="البيانات الرئيسية">
            <ngx-info-basic></ngx-info-basic>
          </nb-tab>
          <nb-tab tabTitle="المرفقات">
            <ngx-upload-files></ngx-upload-files>
          </nb-tab>
          <nb-tab tabTitle="البيانات الوظيفية">
            <ngx-info-jobs></ngx-info-jobs>
          </nb-tab>
          <nb-tab tabTitle="بيانات الحساب">
            <ngx-info-account></ngx-info-account>
          </nb-tab>
        </nb-tabset>

  </div>
</div>
