<div class="card">
  <div class="card-header">
    <h3 class="card-title align-items-start flex-column mr-3 mb-5 mt-0">
      <span class="card-label text-primary">اضافة طبيب</span>
    </h3>
    <button mat-button (click)="closeDialog()">
      <i mat-dialog-close class="fas fa-times text-primary" ></i>
    </button>
  </div>
  <div class="card-body">

        <nb-tabset>
          <nb-tab tabTitle="البيانات الرئيسية" [active]="selectedTabIndex === 0">
            <ngx-info-basic (navigateToAccountTab)="goToAccountTab($event)" ></ngx-info-basic>
          </nb-tab>
          <nb-tab tabTitle="البيانات الوظيفية" [active]="selectedTabIndex === 1">
            <ngx-info-jobs [doctorDataOfAdd]="doctorInfo"></ngx-info-jobs>
          </nb-tab>
          <nb-tab tabTitle="اسعار زيارة الطبيب" [active]="selectedTabIndex === 2">
            <ngx-visit-price [doctorDataOfAdd]="doctorInfo"></ngx-visit-price>
          </nb-tab>
          <nb-tab tabTitle="المرفقات" [active]="selectedTabIndex === 3">
            <ngx-upload-files  [doctorDataOfAdd]="doctorInfo"></ngx-upload-files>
          </nb-tab>
          <nb-tab tabTitle="بيانات الحساب" [active]="selectedTabIndex === 4">
            <ngx-info-account></ngx-info-account>
          </nb-tab>
        </nb-tabset>

  </div>
</div>
