<div class="card">
  <div class="card-header">
    <h5 class="text-base-color text-bold"> المستشفيات</h5>
    <button class="btn btn-primary background-primary" [routerLink]="['/dashboard/system/hospitals/add-hospital']"  >
      <i class="fa-solid fa-circle-plus"></i>
      إضافة مستشفي جديدة
    </button>
  </div>
  <ngx-filter
      (onFilterChange)="onFilterChange($event)"
      [filterElements]="filterElements"
    >
    </ngx-filter>
  <div class="card-body">
    <!-- begin:Table -->

    <div class="table-data">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الرقم </th>
          <td mat-cell *matCellDef="let row"> {{row.codeNumber}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الاسم </th>
          <td mat-cell *matCellDef="let row"> {{row.hospitalTrasnlations[0].name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> عنوان </th>
          <td mat-cell *matCellDef="let row"> {{row.hospitalTrasnlations[0].address}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> صورة </th>
          <td mat-cell *matCellDef="let row">
            <img width="40px" [src]="row.photo ? imgUrl +'small/'+row.photo :'/assets/images/hosspital.jpg'" [alt]="row.photo">
          </td>
        </ng-container>

        <ng-container matColumnDef = 'action'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> خيارات </th>
          <!-- Action Menu Items -->
          <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">

          <button mat-icon-button [matMenuTriggerFor]="mainMenu">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
          <mat-menu #mainMenu="matMenu">
            <button mat-menu-item (click)="rowAction('action_1')" > <i class="fa-solid fa-pen-to-square px-1"></i>تعديل </button>
            <button mat-menu-item (click)="rowAction('action_2')"> <i class="fa-solid fa-trash-can px-1"></i>حذف </button>
          </mat-menu>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        <tr mat-row (click)="onClickPublisher(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator #paginator
      [length]="this.pagePaginator.length"
      [pageIndex]="this.pagePaginator.pageIndex"
      [pageSize]="this.pagePaginator.pageSize"
      [pageSizeOptions]="[3,5, 25, 100]"
      (page)="getServerData($event)" aria-label="اختر صفحة">
      </mat-paginator>
    </div>


  <!-- end: Table -->
  </div>
</div>
