<div [formGroup]="form" >

  <div class="card">
    <div class="card-header">
      <h5 class="text-base-color text-bold">{{isEdit ?'تعديل الحجز':'اضافة حجز'}}</h5>
    </div>
    <div class="card-body">
      <div  class="row">
        <div class="col-md-6 col-xxl-6 filter-border">
          <label for="example-search-input" class="text-base-color text-bold" >المستشفي</label>
            <div class="form-group mb-3">
              <ng-select class="pr-3 my-2"
                [items]="hospitals"
                bindLabel="name"
                bindValue="hospitalId"
                labelForId="state"
                [multiple]="false"
                placeholder=""
                clearAllText="Clear"
                formControlName="HospitalId">
              </ng-select>
              <mat-error>
                <div *ngIf="form.get('HospitalId').hasError('required')&& form.get('HospitalId').touched">
                  من فضلك ادخل المستشفي
                </div>
              </mat-error>
            </div>
        </div>
        <div class="col-md-6 col-xxl-6 filter-border">
          <label for="example-search-input" class="text-base-color text-bold" *ngIf="!isEdit"> البحث عن مريض</label>
            <div class="form-group mb-3">
              <ng-select class="pr-3 my-2"
                [items]="patients"
                bindLabel="fullName"
                bindValue="patientId"
                labelForId="state"
                [multiple]="false"
                placeholder=""
                clearAllText="Clear"
                formControlName="PatientId"  *ngIf="!isEdit">
              </ng-select>
              <mat-error>
                <div *ngIf="form.get('PatientId').hasError('required')&& form.get('PatientId').touched">
                  من فضلك ادخل الاسم
                </div>
              </mat-error>
            </div>
        </div>
        <div class="col-md-6 col-xxl-6 filter-border">
          <!-- begin:: search  -->
          <label for="example-search-input" class="text-base-color text-bold"> التخصصص</label>
          <div class="form-group mb-3">
            <ng-select class="pr-3 my-2"
              [items]="speciality"
              bindLabel="name"
              bindValue="medicalSpecialtyId"
              labelForId="state"
              [multiple]="false"
              placeholder=""
              clearAllText="Clear"
              (change)="getDoctors($event)"
              formControlName="SpecialtyId"
              >
            </ng-select>
            <mat-error>
              <div *ngIf="form.get('SpecialtyId').hasError('required')&& form.get('SpecialtyId').touched">
                من فضلك ادخل التخصص
              </div>
            </mat-error>
          </div>
        </div>
        <div class="col-md-6 col-xxl-6 filter-border">
          <label for="example-search-input" class="text-base-color text-bold"> البحث عن طبيب</label>
          <div class="form-group mb-3">
            <ng-select class="pr-3 my-2"
              [items]="doctors"
              bindLabel="fullName"
              bindValue="doctorId"
              labelForId="state"
              [multiple]="false"
              placeholder=""
              clearAllText="Clear"
              formControlName="DoctorId">
            </ng-select>
            <mat-error>
              <div *ngIf="form.get('DoctorId').hasError('required')&& form.get('DoctorId').touched">
                من فضلك ادخل الطبيب
              </div>
            </mat-error>
        </div>
        </div>
        <div class="col-md-6 col-xxl-6 filter-border">
          <div class="form-group mb-3">
            <label for="example-search-input" class="text-base-color text-bold">التاريخ</label>

          <div class="input-group  pr-3 my-2">

            <input formControlName="VisitingDate" class="form-control border-right-0"
                placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #d="ngbDatepicker" autocomplete="off"
                (click)="d.toggle()" >
            <button class="btn btn-outline-primary calendar rounded-0 rounded-right border-left-0 py-0"
                (click)="d.toggle()" type="button">
                <i class="fa-solid fa-calendar-days"></i>
            </button>
        </div>
        <mat-error>
          <div *ngIf="form.get('VisitingDate').hasError('required')&& form.get('VisitingDate').touched">
            من فضلك ادخل التاريخ
          </div>
        </mat-error>
          </div>
        </div>
        <div class="col-md-6 col-xxl-6 filter-border">
          <!-- begin:: search  -->
          <label for="example-search-input" class="text-base-color text-bold"> اليوم</label>
          <div class="form-group mb-3">
            <ng-select class="pr-3 my-2"
              [items]="days"
              bindLabel="weekdayName"
              bindValue="dayNumber"
              labelForId="state"
              [multiple]="false"
              placeholder=""
              clearAllText="Clear"
              formControlName="dayNumber"
              (change)="getPeriodTypes($event)"
              >
            </ng-select>
            <mat-error>
              <div *ngIf="form.get('dayNumber').hasError('required')&& form.get('dayNumber').touched">
                من فضلك ادخل اليوم
              </div>
            </mat-error>
          </div>
        </div>
        <div class="col-md-6 col-xxl-6 filter-border">
          <!-- begin:: search  -->
          <div class="form-group mb-3 ">
            <label id="example-radio-group-label text-bold text-base-color">الفترة</label>
            <ng-select class="pr-3 my-2"
            [items]="periodType"
            bindLabel="workingPeriod"
            bindValue="workingPeriodId"
            labelForId="state"
            [multiple]="false"
            placeholder=""
            clearAllText="Clear"
            formControlName="WorkingPeriodId"
            (change)="selectPeriod($event)">
          </ng-select>
          <mat-error>
            <div *ngIf="form.get('WorkingPeriodId').hasError('required')&& form.get('WorkingPeriodId').touched">
              من فضلك ادخل الفترة
            </div>
          </mat-error>
          </div>
        </div>
        <div class="col-md-6 col-xxl-6 filter-border">
          <!-- begin:: search  -->
          <div class="form-group mb-3 ">
            <label id="example-radio-group-label text-bold text-base-color">نوع الحجز</label>
            <ng-select class="pr-3 my-2"
              [items]="visitType"
              bindLabel="name"
              bindValue="typeVisitId"
              labelForId="state"
              [multiple]="false"
              placeholder=""
              clearAllText="Clear"
              formControlName="TypeVisitId">
            </ng-select>
            <mat-error>
              <div *ngIf="form.get('TypeVisitId').hasError('required')&& form.get('TypeVisitId').touched">
                من فضلك ادخل نوع الحجز
              </div>
            </mat-error>
          </div>
        </div>
        <div class="col-md-6 col-xxl-6 filter-border">
          <!-- begin:: search  -->
          <div class="form-group mb-3 ">
            <label id="example-radio-group-label text-bold text-base-color"> الفئة السعرية</label>
            <ng-select class="pr-3 my-2"
              [items]="priceCategory"
              bindLabel="name"
              bindValue="priceCategoryId"
              labelForId="state"
              [multiple]="false"
              placeholder=""
              clearAllText="Clear"
              formControlName="PriceCategoryId">
            </ng-select>
            <mat-error>
              <div *ngIf="form.get('PriceCategoryId').hasError('required')&& form.get('PriceCategoryId').touched">
                من فضلك ادخل الفئة السعرية
              </div>
            </mat-error>
          </div>
        </div>
        <div class="col-md-6 col-xxl-6 filter-border">
          <!-- begin:: search  -->
          <div class="form-group mb-3 ">
            <label id="example-radio-group-label text-bold text-base-color">  العملة</label>
            <ng-select class="pr-3 my-2"
              [items]="currency"
              bindLabel="currencyName"
              bindValue="id"
              labelForId="state"
              [multiple]="false"
              placeholder=""
              clearAllText="Clear"
              formControlName="CurrencyId">
            </ng-select>
            <mat-error>
              <div *ngIf="form.get('CurrencyId').hasError('required')&& form.get('CurrencyId').touched">
                من فضلك ادخل العملة
              </div>
            </mat-error>
          </div>
        </div>
        <div class="col-6 filter-border">
          <div class="form-group mb-3">
              <label for="example-search-input" class="text-base-color text-bold">السعر</label>
              <input type="text" formControlName="Price" class="form-control pr-3 my-2" >
          </div>
          <mat-error>
            <div *ngIf="form.get('Price').hasError('required')&& form.get('Price').touched">
              من فضلك ادخل السعر
            </div>
          </mat-error>
        </div>

      </div>
    </div>
    <button type="button" class="background-primary my-3" mat-raised-button (click)="save()">
      {{isEdit ?'تعديل ':'اضافة '}}

    </button>
  </div>
</div>
<ng-template #callAPIDialog>
  <h2 mat-dialog-title class="p-3">بيانات الحجز </h2>
  <div mat-dialog-content class="p-3 m-0 text-center">
    <p>عيادة : {{clinicName}}  </p>
    <p>مستشفي : {{clinicInfo.hospitalName}} </p>
    <p>مبني : {{clinicInfo.buildName}}  </p>
    <p>طابق : {{clinicInfo.floorName}} </p>
    <p>غرفة : {{clinicInfo.roomName}}  </p>


    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="'yes'" cdkFocusInitial>اغلاق</button>
    </div>
</ng-template>
