<div class="card">
  <div class="card-header">
    <h5 class="text-base-color text-bold"> ملف شخصي</h5>
    <button class="btn btn-primary background-primary" (click)="openEditDoctors()" >
      <i class="fa-solid fa-circle-plus"></i>
      تعديل
    </button>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card-body d-flex  flex-column">
        <div class="head">
          <img [src]="doctorInfo?.photo ? imgUrl +'small/'+doctorInfo?.photo+'?timestamp='+timestamp :'/assets/images/nick.png'" [alt]="doctorInfo?.photo" class="img-fluid rounded-circle">
          <h5 class="my-2">{{doctorInfo?.doctorTranslations[0]?.fullName}}</h5>
        </div>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-bold">المسمي الوظيفي</span>
            <span >{{doctorInfo?.doctorTranslations[0]?.headline}}</span>
          </li>
          <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
            البريد الالكتروني
            <span >{{doctorInfo?.doctorTranslations[0]?.headline}}</span>
          </li> -->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="text-bold">الموبايل</span>
            <span >{{doctorInfo?.phoneNumber}}</span>
          </li>
          <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
            التخصص
            <span >{{doctorInfo?.doctorTranslations[0]?.headline}}</span>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="col-md-8
    ">
      <div class="card-body">
        <h4>مواعيد </h4>
        <ul class="list-group" *ngFor="let file of doctorPeriods">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{file.clinic}}</span>
            <span>{{file.dayName}}</span>

            <p>{{file.workingPeriod}}</p>
          </li>
          <hr/>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5>المرفقات</h5>

    <owl-carousel-o [options]="customOptions" (dragging)="isDragging = $event.dragging" [ngStyle]="{'direction': 'ltr'}">
    <ng-container *ngFor="let item of doctorAttachments">
      <ng-template carouselSlide  [id]="item.id">

        <div class="slider my-2" >
          <a [href]="attachLink+item.attachFileName" target="_blank" [stopLink]="isDragging">{{item.title}}

          <!-- </a> -->
          <!-- <a class="outer-link" [href]="attachLink+item.attachFileName" target="_blank"> -->
            <!-- <span>{{item.title}}</span> -->
          </a>

        </div>
      </ng-template>
    </ng-container>
    <!-- <ng-container *ngFor="let slide of doctorPeriods">
      <ng-template carouselSlide [id]="slide.id">
        <ng-template carouselSlide>{{slide.workingPeriod}}</ng-template>

      </ng-template>
    </ng-container> -->

  </owl-carousel-o>
  </div>

</div>
