<div class="card">
  <div class="card-header">
    <h5 class="text-base-color text-bold">كل الحجوزات</h5>
    <button class="btn btn-primary background-primary" routerLink='/booking/add-booking'  >
      <i class="fa-solid fa-circle-plus"></i>
      حجز جديد
    </button>
  </div>
  <ngx-filter-booking
      (FilterChange)="onFilterChange($event)"
      [filterElements]="filterElements"
    >
    </ngx-filter-booking>
  <div class="card-body">

    <div class="table-data" *ngIf="!loading;else progressSpinner">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> اسم المريض </th>
          <td mat-cell *matCellDef="let row">
            {{row?.patient}}
          </td>
        </ng-container>

        <ng-container matColumnDef="hospital">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الفرع </th>
          <td mat-cell *matCellDef="let row"> {{row?.hospital}} </td>
        </ng-container>
        <ng-container matColumnDef="period">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الفترة </th>
          <td mat-cell *matCellDef="let row"> {{row?.workingPeriod}} </td>
        </ng-container>
        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الطبيب </th>
          <td mat-cell *matCellDef="let row"> {{row?.doctor}} </td>
        </ng-container>
        <ng-container matColumnDef="clinic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> العيادة </th>
          <td mat-cell *matCellDef="let row"> {{row?.clinic}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> التاريخ </th>
          <td mat-cell *matCellDef="let row"> {{row?.visitingDate | date:'dd-MM-yy'}} </td>
        </ng-container>
        <ng-container matColumnDef="visit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الكشف </th>
          <td mat-cell *matCellDef="let row"> {{row?.typeVisit}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الحالة </th>
          <td mat-cell *matCellDef="let row"> {{row?.bookingStatus}} </td>
        </ng-container>
        <ng-container matColumnDef = 'action'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> خيارات </th>
          <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">

          <button mat-icon-button [matMenuTriggerFor]="mainMenu">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
          <mat-menu #mainMenu="matMenu">
            <button mat-menu-item (click)="rowAction('edit',row.id)" > <i class="fa-solid fa-pen-to-square px-1"></i>تعديل </button>
            <button mat-menu-item (click)="rowAction('delete',row.id)">
              <i class="fa-solid fa-trash"></i> حذف
            </button>
            <button mat-menu-item (click)="rowAction('status',row.id)">
              <i class="fa-solid fa-edit"></i> تعديل حالة الحجز
            </button>
          </mat-menu>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        <tr mat-row (click)="onClickPublisher(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 25, 100]"  (page)="pageChanged($event)">
      </mat-paginator>
    </div>
  </div>
</div>
<ng-template #progressSpinner>
  <div class="overlay" >
    <div class="center">

    <mat-progress-spinner
     diameter="100"
     mode="indeterminate"
     color="primary"
     strokeWidth="10"
     value="100">
    </mat-progress-spinner>

    </div>
  </div>
  </ng-template>
