<div class="card">
  <div class="card-header">
    <h3 class="card-title align-items-start flex-column mr-3 mb-5 mt-0">
      <span class="card-label text-primary">اضافة مستشفي</span>
    </h3>
    <button mat-button (click)="closeDialog()" class="btn-close-trans">
      <i mat-dialog-close class="fas fa-times" ></i>
    </button>
  </div>
  <div class="card-body">

        <nb-tabset>
          <nb-tab tabTitle="البيانات الرئيسية" [active]="selectedTabIndex === 0">
            <ngx-main-info  (navigateToAccountTab)="goToAccountTab($event)"></ngx-main-info>
          </nb-tab>
          <nb-tab tabTitle=" مميزاتنا" [active]="selectedTabIndex === 1">

            <ngx-features [newHospitalId]="newHospitalId" (close)="closeDialog()"></ngx-features>
          </nb-tab>

        </nb-tabset>

  </div>
</div>
