<div class="d-flex">
      
    <button [disabled]="value?.today_sign_in" class="min-w-auto" mat-button color="primary">
        <label for=""
        [ngClass]="{
            'text-success': row?.today_sign_in,
            'text-dark': !row?.today_sign_in
        }">
        P
    </label>
        
    </button>
   
    <button [disabled]="value?.today_sign_in" class="min-w-auto" mat-button color="primary">
        <label for=""
        [ngClass]="{
            'text-success': row?.today_sign_in,
            'text-dark': !row?.today_sign_in
        }">
        A
    </label>
        
    </button>
</div>
