img {
    // Structure Block 
    width: 25px;
    height: 25px;
    object-fit: cover;
}


h6 {
    // Typography Block 
    font-size: 0.9rem;
    color: #000;
    text-transform: capitalize;
    font-weight: 300;
}
