<!-- Begin the table  -->
<!-- [footerHeight]="40" -->
<ngx-datatable [rowClass]="uid === 'admission' ||uid === 'archive' ?specialRow:null" appNgxResizeWatcher
    [rows]="rowsData" [columns]="columnsData" class="bootstrap" [headerHeight]="$any('auto')" [rowHeight]="$any('auto')"
    [scrollbarH]="scrollBarHorizontal" [selectionType]="'checkbox'" [scrollbarV]="false"
    [externalSorting]="externalSorting" (sort)="sort.emit($event)" columnMode="force" [reorderable]="false"
    [summaryRow]="false">
</ngx-datatable>
<!-- End the table  -->
<ngx-spinner class="new-spinner" bdColor="rgba(0,0,0,0.01)" color="#4D100D" type="ball-clip-rotate" loa
    [fullScreen]="false">
</ngx-spinner>

<!-- Begin:: bottom paginator  -->
<ng-container *ngIf="showPaginator">
    <app-paginator class="d-flex justify-content-center justify-content-lg-between align-items-center flex-wrap"
        [paginator]="paginator" [isLoading]="isLoading" (paginate)="onPaginateChange.emit($event)"></app-paginator>
</ng-container>
<!-- End:: bottom paginator  -->



<!-- Begin:: custom templates  -->
<!-- begin:: bulk action template -->
<ng-template #bulkActionTem let-row="row" let-value="value">
    <mat-checkbox (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null; onSelectionChange()" [checked]="selection.isSelected(row)"
        [aria-label]="checkboxLabel(row)" [color]="'primary'">
    </mat-checkbox>
</ng-template>
<!-- end:: bulk action template -->

<ng-template #periods let-row="row" let-value="value">
    <div class="col-12 d-flex justify-content-center align-item-center flex-wrap ">
        <div *ngFor="let x of row.periods ">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null; onSelectionChange()"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" [color]="'primary'">
                {{x.name}}
            </mat-checkbox>
        </div>
    </div>

</ng-template>
<!-- end:: bulk action template -->

<ng-template #week let-row="row" let-value="value" let-column="column">
    <div class="col-10 p-0 d-flex justify-content-between flex-wrap">
        <button [ngClass]="row?.student_status ==='Present'?  'present' :'' "
            (click)="attendanceSetues('Present' ,row.id)" class="col-2" mat-raised-button>P</button>
        <button [ngClass]="row?.student_status ==='Absent'?  'absent' :'' " (click)="attendanceSetues('Absent' ,row.id)"
            class="col-2" mat-raised-button>A</button>
    </div>

</ng-template>

<ng-template #attendanceLable let-row="row" let-value="value" let-column="column">
    <div class="col-12 p-0 d-flex justify-content-between flex-wrap">
        <button [ngClass]="row?.student_status ==='Present'?  'present' :'' " (click)="attendanceSetues('Present' ,row)"
            class="col-3" mat-raised-button>Present</button>
        <button [ngClass]="row?.student_status ==='Late'?  'late' :'' " (click)="attendanceSetues('Late' ,row)"
            class="col-3" mat-raised-button>Late</button>
        <button [ngClass]="row?.student_status === 'Absent' ?  'absent' :'' " (click)="attendanceSetues('Absent' ,row)"
            class="col-3" mat-raised-button>Absent</button>
            <button [ngClass]="row?.student_status=== 'left_early' ?  'leftEarly' :'' " (click)="attendanceSetues('left_early' ,row)"
            class="col-3" mat-raised-button>Left Early</button>        
    </div>

</ng-template>
<ng-template #attendanceLableclass let-row="row" let-value="value" let-column="column">
    <div class="col-12 p-0 d-flex justify-content-between flex-wrap">
        <button [ngClass]="row?.student_status ==='Present'?  'present' :'' "
            (click)="attendanceSetuesClass('Present' ,row)" class="col-3" mat-raised-button>Present</button>
        <button [ngClass]="row?.student_status ==='Late'?  'late' :'' " (click)="attendanceSetuesClass('Late' ,row)"
            class="col-3" mat-raised-button>Late</button>
        <button [ngClass]="row?.student_status ==='Absent'?  'absent' :'' "
            (click)="attendanceSetuesClass('Absent' ,row)" class="col-3" mat-raised-button>Absent</button>
            <!-- <button [ngClass]="row?.student_status ==='left_early'?  'left_early' :'' "
            (click)="attendanceSetuesClass('left_early' ,row)" class="col-3" mat-raised-button>Left Early</button> -->
    </div>

</ng-template>
<!-- begin:: bulk action template -->
<ng-template #bulkActionHeaderTem let-row="row" let-value="value" let-column="column">
    <div>
        <!-- (click)="column.showSearch = !column.showSearch" -->
        <mat-checkbox (change)="$event ? masterToggle() : null; onSelectionChange()"
            [checked]="selection.hasValue() && isAllSelected()" id="selectAll"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
            [color]="'primary'" *ngIf="!column.showSearch">
            Select All
        </mat-checkbox>
        <!-- <input type="text" required placeholder="gad" class="form-control" *ngIf="column.showSearch" (click)="$event.stopPropagation();"> -->
    </div>

</ng-template>
<!-- end:: bulk action template -->

<!-- begin:: Global column template -->
<ng-template #columCellTemplate let-row="row" let-value="value" let-column="column">
    <div (click)="column.showInput = !column.showInput" style="width: 200px;">
        <span role="button">
            {{column?.name}}
        </span>
        <input type="text" required placeholder="search" (input)="search($event?.target?.value,column?.prop)"
            class="form-control" *ngIf="column.showInput" (click)="$event.stopPropagation();">
    </div>

</ng-template>
<!-- end:: Global column template -->


<!-- begin:: feature Image template -->
<ng-template #featureImage let-row="row" let-value="value">
    <feature-image [row]="row"></feature-image>
</ng-template>
<!-- end:: feature Image template -->

<!-- begin:: long text template -->
<ng-template #rowTitle let-row="row" let-value="value">
    <row-title [value]="value"></row-title>
</ng-template>
<!-- end:: long text template -->
<ng-template #attachement let-row="row" let-value="value">
    <div class="col-12 d-flex" style="max-width: 80px;"> 
        <div *ngFor="let x of row.attachment" class=" col-12 d-flex flex-wrap justify-content-center">
            <div class="col-2">
                <a [href]="x" download target="_blank" class="text-decoration-none text-black">
                    <mat-icon>attach_file</mat-icon>
                </a>
            </div>
        </div>
        <a *ngIf="row?.assignments?.attachment" [href]="row?.assignments?.attachment" download target="_blank" class="text-decoration-none text-black">
            <mat-icon>attach_file</mat-icon>
        </a>
    </div>
</ng-template>


<ng-template #is_missed let-row="row" let-value="value">
    <div class="col-12 d-flex justify-content-center">
        <p> {{row?.is_missed ? 'Is missed' : row?.status }}</p>
    </div>
</ng-template>

<ng-template #file let-row="row" let-value="value">
    <div class="col-12 d-flex justify-content-center" *ngIf="row?.file">
        <a [href]="row?.file" download target="_blank" class="text-decoration-none text-black">
            <mat-icon>attach_file</mat-icon>
        </a>
    </div>
</ng-template>
<ng-template #nationality let-row="row" let-value="value">
    <div class="col-12 d-flex flex-wrap">
        <div *ngFor="let x of row.nationality"
            class="col-12 p-0 m-0 d-flex flex-wrap justify-content-center flex-column">
            {{x.name}}
        </div>
    </div>
</ng-template>



<!-- begin:: short number template -->
<ng-template #shortNumber let-row="row" let-value="value">
    <short-number [value]="value"></short-number>
</ng-template>
<!-- end:: short number template -->

<!-- begin:: human card template -->
<ng-template #humanCard let-row="row" let-value="value" let-column="column">
    <table-human-card [row]="row" [column]="column"></table-human-card>
</ng-template>
<!-- end:: human card template -->


<!-- begin:: tag template -->
<ng-template #tag let-row="row" let-value="value" let-column="column">
    <table-tag [row]="row" [column]="column"></table-tag>
</ng-template>
<!-- end:: tag template -->


<!-- begin:: combobox template -->
<ng-template #combobox let-row="row" let-value="value">
    <table-combobox [items]="comboboxData?.items" [row]="row" [placeholder]="comboboxData?.placeholder"
        [property]="comboboxData?.key" (valueChanges)="onCompoboxChange($event)"> </table-combobox>
</ng-template>
<!-- end:: combobox template -->


<!-- begin:: actions template -->
<ng-template #actionsTempRef let-row="row" let-value="value" let-column="column">
    <table-actions [actions]="column.actions" [actionsData]="actionsData" [row]="row"
        (onAction)="onAction.emit($event)"></table-actions>
</ng-template>
<!-- end:: actions template -->


<!-- begin:: dropdown template -->
<ng-template #dropdownTempRef let-row="row" let-value="value" let-column="column">
    <dropdown [uid]="uid" [row]="row" [dropdownData]="column?.dropdownData"
        (onChange)="onAction.emit({row: row, action: $event})"></dropdown>
</ng-template>
<!-- end:: dropdown template -->
<!-- begin:: printed template -->
<ng-template #printedTempRef let-row="row" let-value="value" let-column="column">
    <app-printed [row]="row" [column]="column"></app-printed>
</ng-template>
<!-- end:: printed template -->

<!-- begin:: PopOver -->
<ng-template #popOverTempRef let-row="row" let-value="value" let-column="column">
    <app-pop-over [row]="row" [column]="column"></app-pop-over>
</ng-template>
<!-- end:: PopOver -->


<!-- begin:: medical template -->
<ng-template #medicalTempRef let-row="row" let-value="value" let-column="column">
    <app-medical-auk [row]="row" (onChange)="onAction.emit({row: row, action: $event})"></app-medical-auk>
</ng-template>
<!-- end:: medical template -->

<!-- begin:: custody template -->
<ng-template #custodyTempRef let-row="row" let-value="value" let-column="column">
    <app-custody-auk [row]="row" (onChange)="onAction.emit({row: row, action: $event})"></app-custody-auk>
</ng-template>
<!-- end:: custody template -->
<!-- begin:: active_student template -->
<ng-template #currentstuentTempRef let-row="row" let-value="value" let-column="column">
    <app-active-student [row]="row"></app-active-student>
</ng-template>
<!-- end:: active_student template -->
<!-- begin:: delete template -->
<ng-template #deleteTempRef let-row="row" let-value="value" let-column="column">
    <app-delete-action [row]="row" (onChange)="onAction.emit({row: row, action: $event})"></app-delete-action>
</ng-template>
<!-- end:: delete template -->
<!-- begin:: message Status -->
<ng-template #messageStatusRef let-row="row" let-value="value" let-column="column">
    <app-message-status [row]="row"></app-message-status>
</ng-template>
<!-- end:: message Status -->
<!-- begin:: attendance template -->
<ng-template #attendanceActionsRef let-row="row" let-value="value" let-column="column">
    <attendance-actions [row]="row" [actions]="column?.actions" (onClick)="onAction.emit($event)"></attendance-actions>
</ng-template>

<!-- Dependent at school -->

<ng-template #dependantHeaderRef let-row="row" let-value="value" let-column="column">
    <table class="header-table" cellspacing="0">
        <tr>
            <td colspan="3">Dependants At School</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Division</td>
            <td>Year</td>
            <td>Percentage Discount</td>
        </tr>
    </table>
</ng-template>

<ng-template #dependantDataRef let-row="row" let-value="value">
    <table class="cell-table" cellspacing="0">
        <!-- <tr *ngIf="row.dependents?.length" class="font-weight-bolder text-black font-size-lg m-2">
            <td>Name</td>
            <td>School</td>
            <td>Year</td>
            <td>Percentage Discount</td>
        </tr> -->
        <tr *ngFor="let item of row.dependents">
            <td>{{item.dependent_name}}</td>
            <td>{{item.division}}</td>
            <td>{{item.apply_year_name}}</td>
            <td>{{item.dependent_discount}}</td>
        </tr>
    </table>
</ng-template>


<!-- Spouse at school -->
<ng-template #spouseHeaderRef let-row="row" let-value="value" let-column="column">
    <table class="header-table" cellspacing="0">
        <tr>
            <td colspan="3">Spouse At School</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Division</td>
            <td>Position</td>
        </tr>
    </table>
</ng-template>

<ng-template #spouseDataRef let-row="row" let-value="value">
    <table class="cell-table" cellspacing="0">
        <!-- <tr *ngIf="row.dependents?.length" class="font-weight-bolder text-black font-size-lg m-2">
            <td>Name</td>
            <td>School</td>
            <td>Position</td>
        </tr> -->
        <tr *ngFor="let item of row.dependents">
            <td>{{item.dependent_name}}</td>
            <td>{{item.division}}</td>
            <td>{{item.dependent_position}}</td>
        </tr>
    </table>
</ng-template>
<!-- sibiling at school -->
<ng-template #SiblingsHeaderRef let-row="row" let-value="value" let-column="column">
    <table class="header-table" cellspacing="0">
        <tr>
            <td colspan="3">Siblings</td>
        </tr>
        <tr>
            <td> Student Id</td>
            <td>Student Name</td>
            <td>Grade/Year</td>
            <td>Class</td>

        </tr>
    </table>
</ng-template>

<ng-template #SiblingsDataRef let-row="row" let-value="value">
    <table class="cell-table" cellspacing="0">
        <tr *ngFor="let item of row?.siblings">
            <td>{{item.id}}</td>
            <td>{{item.full_name}}</td>
            <td>{{item.grade}}</td>
            <td>{{item.class}}</td>
        </tr>
    </table>
</ng-template>

<ng-template #SiblingsDataRef let-row="row" let-value="value">
    <table class="cell-table" cellspacing="0">
        <!-- <tr *ngIf="row.dependents?.length" class="font-weight-bolder text-black font-size-lg m-2">
            <td>Name</td>
            <td>School</td>
            <td>Position</td>
        </tr> -->
        <!-- {{row?.student.siblings |json}} -->
        <tr *ngFor="let item of row?.student?.siblings">
            <!-- {{item|json}} -->
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>

        </tr>
    </table>
</ng-template>
<!-- Relative at school -->
<ng-template #relativeHeaderRef let-row="row" let-value="value" let-column="column">
    <table class="header-table" cellspacing="0">
        <tr>
            <td colspan="3">Relative At School</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>School</td>
            <td>Position</td>
        </tr>
    </table>
</ng-template>

<ng-template #relativeDataRef let-row="row" let-value="value">
    <table class="cell-table" cellspacing="0">
        <tr *ngFor="let item of row.dependents">
            <td>{{item.dependent_name}}</td>
            <td>{{item.division}}</td>
            <td>{{item.dependent_position}}</td>
        </tr>
    </table>
</ng-template>


<!--Employee data education -->
<ng-template #educationHeaderRef let-row="row" let-value="value" let-column="column">
    <table class="header-table" cellspacing="0">
        <tr>
            <td colspan="3">Education</td>
        </tr>
        <tr>
            <td>Degree</td>
            <td>University/School</td>
            <td>Qualification</td>
            <td>Years Attended</td>
        </tr>
    </table>
</ng-template>

<ng-template #educationDataRef let-row="row" let-value="value">
    <table class="cell-table" cellspacing="1">
        <!-- <tr *ngIf="row.employee_educations?.length" class="font-weight-bolder text-black font-size-lg m-2">
            <td>Degree</td>
            <td>University/School</td>
            <td>Qualification</td>
            <td>Years Attended</td>
        </tr> -->
        <tr *ngFor="let item of row.employee_educations">
            <td>{{item.degree}}</td>
            <td>{{item.university}}</td>
            <td>{{item.major}}</td>
            <td>{{item.year_attended_to}}</td>
        </tr>
    </table>
</ng-template>

<!-- end:: medical template -->

<!--Family Member -->
<ng-template #familyHeaderRef let-row="row" let-value="value" let-column="column">
    <table class="header-table-family" cellspacing="0">
        <tr>
            <td colspan="3">Family Members Included</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>DOB</td>
            <td>Relation</td>
            <td>Nationality</td>
            <td>Plan</td>
        </tr>
    </table>
</ng-template>

<ng-template #familyDataRef let-row="row" let-value="value">
    <table class="cell-table-family" cellspacing="1">
        <!-- <tr *ngIf="row.employee_medical_insurance_members?.length" class="font-weight-bolder text-black font-size-lg m-2">
            <td>Name</td>
            <td>DOB</td>
            <td>Relation</td>
            <td>Nationality</td>
            <td>Plan</td>
        </tr> -->
        <tr *ngFor="let item of row.employee_medical_insurance_members">
            <td>{{item.name}}</td>
            <td>{{item.dob}}</td>
            <td>{{relations[item.relation-1]?.title}}</td>
            <td>{{item.nationality}}</td>
            <td>{{item.plan}}</td>
        </tr>
    </table>
</ng-template>


<!-- end:: Familly members template -->

<!-- begin:: Student Siblings -->
<ng-template #badgeWithAction let-row="row" let-value="value" let-column="column">
    <span class="badge badge-primary" role="button"
        (click)="onAction.emit({row:row,action:{key:column?.prop}})">{{row[column?.prop]}}</span>
</ng-template>
<!-- end:: Student Siblings -->

<!-- End:: custom templates  -->

<!-- begin:: printed template -->
<ng-template #printedTempRef let-row="row" let-value="value" let-column="column">
    <app-printed [row]="row" [column]="column"></app-printed>
</ng-template>
<!-- end:: printed template -->


<!-- youssefStart -->
<!-- begin:: customCheckBox template -->
<!-- <ng-template #customCheckBox let-row="row" let-value="value" let-column="column">
    <customCheckBox [row]="row" [column]="column"></customCheckBox>
 </ng-template> -->
<!-- end:: customCheckBox template -->

<!-- begin:: father action template -->
<ng-template #gradeInput let-row="row" let-value="value" let-column="column" >
    <div class="d-flex justify-content-between align-item-center" >
        <input  class="form-control" type="text" 
        aria-describedby="search-addon"
        appDebounceInputChange
        [value]="row?.student_grade"
        [debounceTime]="1000" (click)="$event.stopPropagation()" 
         (valueChanged)="sendTheNewValue(row,$event)" [ngClass]="submittedGradeStyle?'text-primary text-bold':''">

    </div>
</ng-template>
<!-- end:: father action template -->

<!-- begin:: father action template -->
<ng-template #customCheckBoxHeaderTem let-row="row" let-value="value" let-column="column">
    <div>
        <mat-checkbox (change)="$event ? masterToggleforColumn(column) : null; onSelectionChangeInColumns(null,column)"
            [checked]="column?.name==='Father Name'?selection2.hasValue() && isAllParentSelected(column) : selection3.hasValue() && isAllParentSelected(column)"
            [indeterminate]="column?.name==='Father Name'? selection2.hasValue() && !isAllParentSelected(column) : selection3.hasValue() && !isAllParentSelected(column)"
            [aria-label]="checkboxLabelOnSelectionChangeInColumns()" [color]="'primary'" *ngIf="!column.showSearch">
            {{column?.name}}
        </mat-checkbox>
    </div>

</ng-template>
<!-- end:: father action template -->
<!-- begin:: input grade action template -->
<ng-template #customCheckBox let-row="row" let-value="value" let-column="column">
    <div class="d-flex justify-content-between align-item-center">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="onSelectionChangeInColumns(row,column,$event)"
            [checked]="column?.name==='Father Name'?selection2.isSelected(row):selection3.isSelected(row)"
            [aria-label]="checkboxLabelOnSelectionChangeInColumns(row,column)" [color]="'primary'">
        </mat-checkbox>
        <label class="custom-label">
            {{column?.name==="Father Name"?row?.father_name:row?.mother_name}}
        </label>
    </div>
</ng-template>
<!-- end:: input grade action template -->
<!-- youssfEnd -->
