@import '../../styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
    overflow: visible;
      .menu-icon {
        margin-left: 1rem;
      }
  }
  .logo {
    padding: 1rem 1.25rem;
    font-size: 1.5rem;
    // @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
    // @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
    white-space: nowrap;
    text-decoration: none;
    color:#fff;
  }
  ::ng-deep {
    nb-sidebar {
      overflow: visible;
      nb-menu {
        overflow: visible;
        .menu-items {
          overflow: hidden;

        }

        .menu-items > .menu-item {
          position: static;
        }
        .menu-items > .menu-item > .menu-items {
          position: absolute;
          top: 0;
          right:85%;

          .menu-item {
            position: static;
          }
        }
      }
    }

  }



}
