// @nebular theming framework
@import '@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
  success:#008e42,
  danger:#c30000,
  layout-padding-top: 0rem,
  sidebar-width-compact: 5.5rem,
  layout-padding: 1rem 2.25rem 0.75rem,
  scrollbar-width:0.5rem,
  sidebar-padding: 0.25rem,
  menu-item-icon-margin: 0 0.5rem 0 0,
  sidebar-background-color:#fff,
  font-family-primary: Cairo,
  layout-background-color:#fff,
  header-text-color:#222d32,
  header-background-color:#fff,
  light-color-basic:#eee,
  card-background-color:#fff,
  text-base-color:#222d32,
  dark-color-basic:#fff,
  menu-item-active-text-color:#222d32,
  menu-text-color:#222d32,
  color-button:#fff,
  sidebar-text:#fff,
  trans-background-color:#fff,
  scrollbar-color:#fff,
  sidebar-background-active:#0070cd,
  dark-color-text:#222d32,
  dark-icon-background:#38385e,
  background-button:#0070cd,
  menu-item-hover-text-color:#fff,
  menu-item-icon-color:#fff,
  menu-submenu-item-active-hover-text-color:#fff,
  menu-submenu-item-icon-active-hover-color:#fff,
  menu-submenu-item-hover-text-color:#fff,
  menu-submenu-item-icon-hover-color:#fff,
  menu-item-active-background-color:#2e2e48,
  menu-submenu-item-active-text-color:#fff,
  menu-submenu-item-icon-active-color:#fff,
  select-outline-primary-border-color:#fff,
  tabset-tab-active-text-color:#fff,
  tabset-tab-active-background-color:transparent,


  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  success:#008e42,
  danger:#c30000,
  layout-padding-top: 0rem,
  sidebar-width-compact: 5.5rem,
  layout-padding: 1rem 2.25rem 0.75rem,
  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,
  select-min-width: 6rem,

  layout-background-color:#222d32,
  scrollbar-color:#fff,
  scrollbar-width:0.5rem,
  font-family-primary: Cairo,
  text-base-color:#fff,
  dark-color-text:#222d32,
  dark-color-basic:#2e2e48,
  sidebar-background-active:#2e2e48,
  sidebar-text:#fff,

  dark-icon-background:#38385e,
  light-color-basic:#464766,
  trans-background-color:#464766,
  menu-item-icon-margin: 0 0.5rem 0 0,
  sidebar-background-color:#464766,
  sidebar-padding: 0.25rem,
  background-button:#0070cd,
  menu-text-color:#fff,
  menu-item-active-text-color:#fff,
  menu-item-hover-text-color:#fff,
  menu-item-icon-color:#fff,
  menu-submenu-item-active-hover-text-color:#fff,
  menu-submenu-item-icon-active-hover-color:#fff,
  menu-submenu-item-hover-text-color:#fff,
  menu-submenu-item-icon-hover-color:#fff,
  menu-item-active-background-color:#2e2e48,
  color-button:#2e2e48,
  menu-submenu-item-active-text-color:#fff,
  menu-submenu-item-icon-active-color:#fff,
  header-background-color:#2e2e48,
  select-outline-primary-border-color:#fff,
  card-background-color:#222d32,
  tabset-tab-active-text-color:#fff,
  tabset-tab-active-background-color:transparent,
  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);
