<div [formGroup]="form">
  <div class="row">
    <!-- <div class="row filter-border"> -->
      <h5 *ngIf="doctorInfo || doctorVisitPrice">اسم الطبيب :{{doctorInfo?.name ? doctorInfo?.name : doctorVisitPrice?.doctorName}}</h5>
      <div class="col-md-6 col-xxl-6 filter-border">
          <div class="form-group mb-3">
            <label for="example-search-input" class="text-base-color text-bold">العيادة</label>
            <ng-select class="d-block pr-3 my-2" [multiple]="false" [items]="clinics" formControlName="clinicId"
                bindValue="id" bindLabel="name" appDebounceInputChange >
            </ng-select>
          </div>
      </div>
      <div class="col-md-6 col-xxl-6 filter-border">
        <div class="form-group mb-3">
          <label for="example-search-input" class="text-base-color text-bold">التخصص</label>
          <ng-select class="d-block pr-3 my-2" [multiple]="false" [items]="specials" formControlName="specialId"
              bindValue="id" bindLabel="name" appDebounceInputChange >
          </ng-select>
        </div>
      </div>
      <div class="col-md-6 col-xxl-6 filter-border">
        <div class="form-group mb-3">
          <label for="example-search-input" class="text-base-color text-bold">اليوم</label>
          <ng-select class="d-block pr-3 my-2" [multiple]="false" [items]="days" formControlName="onDay"
              bindValue="id" bindLabel="name" appDebounceInputChange >
          </ng-select>
        </div>
      </div>
      <div class="col-md-6 col-xxl-6 filter-border">
        <div class="form-group mb-3">
          <label for="example-search-input" class="text-base-color text-bold">فترة العمل</label>
          <ng-select class="d-block pr-3 my-2" [multiple]="true" [items]="workingPeriods" formControlName="workingPeriodId"
              bindValue="id" bindLabel="name" appDebounceInputChange >
          </ng-select>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button type="button " class="btn btn-primary background-primary col-3"  (click)="save()">
            <span>إضافة</span>
        </button>
        <button type="button" class="btn btn-outline-primary col-3 me-2" (click)="cancel()">
          <span>الغاء</span>
        </button>
      </div>
  </div>

</div>
