
<div class="card">
  <div class="card-header">
    <h5 class="text-base-color text-bold"> {{id ?"تعديل درجة علمية":'إضافة درجة علمية'}} </h5>
    <button mat-button (click)="closeEditDialog()">
      <i mat-dialog-close class="fas fa-times text-primary" ></i>
    </button>
  </div>
  <div class="card-body">
    <div [formGroup]="form" class="row d-flex flex-wrap justify-content-md-start mb-7 align-items-center">
      <div class="row justify-content-center align-items-center">

        <div class="row mt-4">
          <!-- <div class="col-6 filter-border">
            <div class="form-group mb-3">
                <label for="example-search-input" class="text-base-color text-bold">الكود<span class="text-danger">*</span></label>
                <input type="text" formControlName="codeNumber" class="form-control pr-3 my-2" >
            </div>
          </div> -->
          <div class="col-6 filter-border">
            <div class="form-group mb-3">
                <label for="example-search-input" class="text-base-color text-bold">الاسم <span class="text-danger">*</span></label>
                <input type="text" formControlName="degreeName" class="form-control pr-3 my-2" >
                <mat-error>
                  <div *ngIf="form.get('degreeName').hasError('required')&& form.get('degreeName').touched">
                    من فضلك ادخل الاسم
                  </div>
                </mat-error>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <!-- begin:: search  -->
          <div class="d-flex justify-content-center mt-4">
            <button type="button " class="btn btn-primary background-primary col-3"  (click)="save()"
            [class.spinnerBtn]="loading" [disabled]="!form.valid || loading">
                <span>{{id ? 'تعديل' :'إضافة'}}</span>
            </button>
            <button type="button" class="btn btn-outline-primary col-3 me-2" (click)="cancel()">
              <span>الغاء</span>
            </button>
          </div>
      </div>
    </div>

  </div>
</div>
