<div class="filters">
  <div [formGroup]="form" class="row justify-content-md-start">
      <div class="col-12 d-flex flex-wrap  justify-content-between filters ml-1"
          *ngIf="filterElements?.global_search">
          <div class="col-md-6">
            <div class="input-group ">
              <!-- <button type="button" mat-raised-button class="global-button">بحث </button> -->
              <input type="search" class="form-control rounded" placeholder="بحث بالاســـم" formControlName="name"
                  aria-label="Search" aria-describedby="search-addon" appDebounceInputChange [debounceTime]="1000"
                  (valueChanged)="filters($event)" />
            </div>
          </div>
          <div class="col-md-3 filter-border" *ngIf="filterElements?.status">
            <div class="form-group">
                <ng-select [items]="lookups.status" appendTo="body" placeholder="حالة الحجز"
                    bindValue="bookingStatusId" bindLabel="statusName" [virtualScroll]="true"
                    aria-describedby="search-addon" appDebounceInputChange [debounceTime]="1000"
                    formControlName="bookStatusId" (change)="filters()"
                    [multiple]="false" (clear)="DisplayNoData($event);">
                </ng-select>
                <!-- <span class="text-danger form-text mt-1"
                    [ngStyle]="{
                'display': formControls.grade_book_id?.errors  &&formControls.grade_book_id.touched ? 'block':'none'}">Please enter Grade Book
                    name.</span> -->
            </div>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-md-start flex-wrap filters" style="background: none;" >
        <div class="col-md-3 col-xxl-3 filter-border" *ngIf="filterElements?.hospitals">
          <div class="form-group">
              <!-- <label> المستشفيات</label> -->
              <ng-select [items]="lookups.hospitals" appendTo="body" placeholder="الفروع"
                  bindValue="hospitalId" bindLabel="name" [virtualScroll]="true"
                  aria-describedby="search-addon" appDebounceInputChange [debounceTime]="1000"
                  formControlName="hospitalId" (change)="chooseBuilding($event);filters()"
                  [multiple]="false"
                  (clear)="clearHos();">
              </ng-select>
              <!-- <span class="text-danger form-text mt-1"
                  [ngStyle]="{
              'display': formControls.grade_book_id?.errors  &&formControls.grade_book_id.touched ? 'block':'none'}">Please enter Grade Book
                  name.</span> -->
          </div>
        </div>
        <div class="col-md-3 col-xxl-3 filter-border" *ngIf="filterElements?.clinics">
          <div class="form-group">
              <ng-select [items]="lookups.clinics" appendTo="body" placeholder=" العيادات"
                  bindValue="clinicId" bindLabel="name" [virtualScroll]="true"
                  aria-describedby="search-addon" appDebounceInputChange [debounceTime]="1000"
                  formControlName="clinicId" (change)="filters()"
                  [multiple]="false"
                  (clear)="DisplayNoData($event);">
              </ng-select>

          </div>
        </div>
        <div class="col-md-3 col-xxl-3 filter-border" *ngIf="filterElements?.specialtyId">
          <div class="form-group">
              <!-- <label> المستشفيات</label> -->
              <ng-select [items]="lookups.specialize" appendTo="body" placeholder="تخصصات"
                  bindValue="medicalSpecialtyId" bindLabel="name" [virtualScroll]="true"
                  aria-describedby="search-addon" appDebounceInputChange [debounceTime]="1000"
                  formControlName="specialtyId"
                  [multiple]="false" (change)="getDoctors($event);filters()"
                  (clear)="DisplayNoData($event);">
              </ng-select>
              <!-- <span class="text-danger form-text mt-1"
                  [ngStyle]="{
              'display': formControls.grade_book_id?.errors  &&formControls.grade_book_id.touched ? 'block':'none'}">Please enter Grade Book
                  name.</span> -->
          </div>
        </div>

        <div class="col-md-3 col-xxl-3 filter-border" *ngIf="filterElements?.doctors">
          <div class="form-group">
              <!-- <label> المستشفيات</label> -->
              <ng-select [items]="lookups.doctors" appendTo="body" placeholder="الاطباء"
                  bindValue="doctorId" bindLabel="fullName" [virtualScroll]="true"
                  aria-describedby="search-addon" appDebounceInputChange [debounceTime]="1000"
                  formControlName="doctorId" (change)="filters()"
                  [multiple]="false">
              </ng-select>
              <!-- <span class="text-danger form-text mt-1"
                  [ngStyle]="{
              'display': formControls.grade_book_id?.errors  &&formControls.grade_book_id.touched ? 'block':'none'}">Please enter Grade Book
                  name.</span> -->
          </div>
      </div>
      <div class="col-md-3 col-xxl-3 filter-border" *ngIf="filterElements?.floors">
        <div class="form-group">
            <!-- <label> المستشفيات</label> -->
            <ng-select [items]="lookups.floors" appendTo="body" placeholder="الطوابق"
                bindValue="floorId" bindLabel="name" [virtualScroll]="true"
                aria-describedby="search-addon" appDebounceInputChange [debounceTime]="1000"
                formControlName="floorId" (change)="filters()"
                [multiple]="false"
                (clear)="DisplayNoData($event);">
            </ng-select>
            <!-- <span class="text-danger form-text mt-1"
                [ngStyle]="{
            'display': formControls.grade_book_id?.errors  &&formControls.grade_book_id.touched ? 'block':'none'}">Please enter Grade Book
                name.</span> -->
        </div>
    </div>
        <div class="col-md-3 col-xxl-3 filter-border" *ngIf="filterElements?.visitType">
          <div class="form-group">
              <ng-select [items]="lookups.visitType" appendTo="body" placeholder=" نوع الحجز"
                  bindValue="typeVisitId" bindLabel="name" [virtualScroll]="true"
                  aria-describedby="search-addon" appDebounceInputChange [debounceTime]="1000"
                  formControlName="visitTypeId" (change)="filters()"
                  [multiple]="false"
                  (clear)="DisplayNoData($event);">
              </ng-select>

          </div>
        </div>

          <div class="col-md-3 col-xxl-3" *ngIf="filterElements?.from_date">
              <div class="form-group my-3">
                  <!-- <label class="text-primary">Hiring Date</label> -->
                  <div class="input-group calendar" style="direction:ltr">
                      <input formControlName="hiring_date" class="border-color-primary form-control border-right-0"
                          placeholder="from" name="dp" ngbDatepicker #d="ngbDatepicker" autocomplete="off" 
                          (click)="d.toggle()" (blur)="filters()" (dateSelect)="filters()"
                          [maxDate]="maxDate" formControlName="StartDateTime">
                      <button class="btn btn-outline-primary calendar rounded-0 rounded-right border-left-0 py-0 px-3"
                          (click)="d.toggle()" type="button">
                          <i class="fa-solid fa-calendar-days"></i>
                        </button>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-xxl-3" *ngIf="filterElements?.to_date">
            <div class="form-group my-3">
                <!-- <label class="text-primary">Hiring Date</label> -->
                <div class="input-group calendar" style="direction:ltr">
                    <input formControlName="hiring_date" class="border-color-primary form-control border-right-0"
                        placeholder="To" name="dp" ngbDatepicker #d="ngbDatepicker" autocomplete="off"
                        [minDate]="minDate" formControlName="EndDateTime"
                        (click)="d.toggle()" (blur)="filters()" (dateSelect)="filters()">
                    <button class="btn btn-outline-primary calendar rounded-0 rounded-right border-left-0 py-0 px-3"
                        (click)="d.toggle()" type="button">
                        <i class="fa-solid fa-calendar-days"></i>
                    </button>
                </div>
            </div>
        </div>
          <div class="col-md-6 col-xxl-6" *ngIf="filterElements?.dateRange">
              <div class="form-group mb-3">
                  <!-- <label class="text-primary">Date Range</label> -->
                  <div class="input-group calendar">
                      <mat-form-field appearance="outline">
                          <mat-date-range-input [rangePicker]="fromTo">
                              <input matStartDate placeholder="From" formControlName="StartDateTime">
                              <input matEndDate placeholder="To" formControlName="EndDateTime" (dateChange)="filters($event)">
                          </mat-date-range-input>
                          <mat-datepicker-toggle matSuffix [for]="fromTo">
                          </mat-datepicker-toggle>
                          <mat-date-range-picker #fromTo></mat-date-range-picker>
                      </mat-form-field>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-12 d-flex justify-content-end" *ngIf="clearButton">
          <div class="col-3 d-flex justify-content-end align-items-center">
              <div class="col-md-12 col-xxl-12 d-flex justify-content-end align-items-center">
                  <div class="pr-3">
                      <label for="example-search-input" class="text-primary d-block">&nbsp;</label>
                      <button mat-button class="btn rounded ml-auto btn-primary  button-transparent "
                          (click)="clearSearch()">
                          مسح البحث
                      </button>
                  </div>

              </div>
          </div>
      </div>

  </div>





</div>
