<div class="card mt-4">

    <div class="card-body" *ngIf="!loading;else progressSpinner">
  
      <div class="row">
        <div class="col-md-8">
          <div class="header-view d-flex justify-content-between ">
            <h5 class="text-base-color text-bold">
              تفاصيل الحجز
            </h5>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit(hospital.id)">
                <i class="fa-solid fa-pen mx-2"></i>
                <span>تعديل</span>
              </button>
              <!-- <button mat-menu-item disabled>
                <i class="fa-solid fa-share-nodes mx-2"></i>
                <span>مشاركة</span>
              </button> -->
              <!-- <button mat-menu-item (click)="statusAction(hospital.isDeleted)">
                <span *ngIf="hospital.isDeleted"><i class="fa-regular fa-circle-xmark" ></i>تشغيل</span>
                <spsn *ngIf="!hospital.isDeleted"><i class="fa-solid fa-circle-check" ></i> إيقاف</spsn>
              </button> -->
            </mat-menu>
          </div>
          <div class="content-view">
            <p>اسم المريض :
              {{hospital?.patient}}
            </p>
            <p>اسم الطبيب: 
             
              {{hospital?.doctor}}
            </p>
            <p >اسم المستشفي : 
              {{hospital?.hospital}}
            </p>
            <p >التخصص : 
              {{hospital?.specialty}}
            </p>
            <p >الزيارة : 
              {{hospital?.typeVisit}}
            </p>
            <p >اليوم : 
              {{hospital?.visitingDate | date:'dd-MM-yyyy'}}
            </p>
            <p >عيادة : 
              {{hospital?.clinic}}
            </p>
            <p >الفترة : 
              {{hospital?.workingPeriod}}
            </p>
            <p >السعر : 
              {{hospital?.price}}
            </p>
          </div>
  
        </div>
  
  
      </div>

      
  
  </div>
  </div>
  
  <div id="imgModal" class="slide-modal">
    <span class="close cursor" (click)="closeModal()">&times;</span>
    <div class="slide-modal-content">
        <div class="img-slides" *ngFor="let image of images; let i = index">
            <img [src]="image.url ? imgUrl+'small/'+image.url+'?timestamp='+timestamp : '/assets/images/hospital.jpg'">
        </div>
        <!-- <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a> -->
        <!-- <div class="image-row">
            <div class="image-column" *ngFor="let image of images; let i = index">
                <img class="images" (click)="currentSlide(i+1)" src="{{image.url}}">
            </div>
        </div> -->
    </div>
  </div>
  <ng-template #progressSpinner>
  <div class="overlay" >
    <div class="center">
  
    <mat-progress-spinner
     diameter="100"
     mode="indeterminate"
     color="primary"
     strokeWidth="10"
     value="100">
    </mat-progress-spinner>
  
    </div>
  </div>
  </ng-template>
  