<div class="card">
  <div class="card-header">
    <h5 class="text-base-color text-bold">  البلاد</h5>
    <button class="btn btn-primary background-primary"  (click)="openAddRoomTypes()" >
      <i class="fa-solid fa-circle-plus"></i>
      إضافة بلد جديدة
    </button>
  </div>
  <ngx-filter
      (FilterChange)="onFilterChange($event)"
      [filterElements]="filterElements"
    >
    </ngx-filter>
  <div class="card-body">
    <!-- begin:Table -->

    <div class="table-data" *ngIf="!loading;else progressSpinner">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الكود </th>
          <td mat-cell *matCellDef="let row"> {{row.countryCode}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> الاسم </th>
          <td mat-cell *matCellDef="let row">
            {{row?.countriesTranslations[0]?.countryName ? row?.countriesTranslations[0]?.countryName : 'بدون اسم'}}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> نشط </th>
          <td mat-cell *matCellDef="let row">
            <i class="fa-regular fa-circle-xmark" *ngIf="row.isDeleted"></i>
            <i class="fa-solid fa-circle-check" *ngIf="!row.isDeleted"></i>
          </td>
        </ng-container> -->

        <ng-container matColumnDef = 'action'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> خيارات </th>
          <!-- Action Menu Items -->
          <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">

          <button mat-icon-button [matMenuTriggerFor]="mainMenu">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
          <mat-menu #mainMenu="matMenu">
            <button mat-menu-item (click)="rowAction('edit',row.id)" > <i class="fa-solid fa-pen-to-square px-1"></i>تعديل </button>
            <button mat-menu-item (click)="rowAction('delete',row.id)">
              <i class="fa-solid fa-circle-check" ></i>حذف
            </button>

            <button mat-menu-item (click)="rowAction('translate',row.id)">
              <i class="fa-solid fa-globe"></i>الترجمات
            </button>
          </mat-menu>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        <tr mat-row (click)="onClickPublisher(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <!-- <mat-paginator #paginator
      [length]="length"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="pageEvent = getServerData($event)" aria-label="اختر صفحة">
      </mat-paginator> -->
      <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 25, 100]"  (page)="pageChanged($event)">
</mat-paginator>
    </div>


  <!-- end: Table -->
  </div>
</div>
<ng-template #progressSpinner>
  <div class="overlay" >
    <div class="center">

    <mat-progress-spinner
     diameter="100"
     mode="indeterminate"
     color="primary"
     strokeWidth="10"
     value="100">
    </mat-progress-spinner>

    </div>
  </div>
  </ng-template>
