:host {
  ::ng-deep {
    // Structure Block
    .ng-select.ng-select-opened > .ng-select-container,
    .ng-select .ng-select-container {
      // Structure Block
      min-height: auto;
      height: 32px;
    }
  }
}

ng-select {
  width: 80px;
}
