<!-- start: Paginator -->

<div class="start d-flex flex-wrap">
  <div class="d-flex align-items-center">

    <!-- begin: loading -->
    <div class="d-flex align-items-center" *ngIf="isLoading">
      <div class="mr-2 text-muted">Loading...</div>
      <div class="spinner spinner-primary mr-10"></div>
    </div>
    <!-- end: loading -->

    <!-- begin: pageSize -->

    <ng-select appendTo="body" name="type" [clearable]="false" [searchable]="false" [(ngModel)]="paginator.pageSize"
      (change)="sizeChange(paginator.pageSize)" class="bg-transparent flex-grow-1 mr-4 d-none d-lg-block ">
      <ng-option *ngFor="let ps of pageSizes" [value]="ps">{{ ps }}</ng-option>
      <ng-option [value]="'all'">All</ng-option>
    </ng-select>


    <span class="react-bootstrap-table-pagin ation-total d-none d-lg-block"
      *ngIf="paginator && showStatusText">&nbsp;Showing rows {{ paginator['from'] }} to&nbsp;{{
      paginator['to']
      }}
      of&nbsp;{{ paginator.total }}</span>
    <!-- end: pageSize -->
  </div>
  <ng-content select=".start-content"></ng-content>
</div>

<div class="end d-flex flex-wrap">
  <ng-content select=".end-content"></ng-content>
  <div class="d-flex flex-wrap ml-3">
    <ng-pagination [collectionSize]="paginator?.total" [(page)]="paginator.page" [maxSize]="smallDevices ? 2 : 4"
      [boundaryLinks]="smallDevices ? false : true" [rotate]="true" [pageSize]="paginator.pageSize"
      (pageChange)="pageChange($event)"></ng-pagination>
  </div>
</div>
<!-- end: Paginator -->