@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~@ng-select/ng-select/themes/default.theme.css';

body {
  direction: rtl !important;
}
.text-base-color {
  color:#222d32;
}
.text-bold {
  font-weight: 600;
}
.background-primary {
  background-color: #0070cd;
  color:#fff;
  font-size: 1rem;
}
tr.mat-header-row,.mat-header-cell {
  height: 56px;
  background-color: #0070cd;
  color: #fff;
  font-size: 1.2rem;
}
.mat-menu-content:not(:empty) {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
}
button.mat-menu-item,.mat-icon-button,.mat-menu-item:hover:not([disabled]) {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #0070cd;
      color: #fff;
    }
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.help-block {
  color:red;
}
.mat-dialog-container {
  background-color: #fff;
  overflow: hidden !important;
}
.add-btn {
  position:relative;
  .btn {
    position: absolute;
    top: 0;
    left: -38px;
    padding: 0.4rem 0.7rem;
    &:hover {
      background-color: #fff;
      color:#0070cd;
    }
  }
}
