@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'assets/scss/attachment.scss';
@import 'assets/scss/card.scss';
@import 'assets/scss/tab.scss';
@import 'assets/scss/toolbar.scss';
@import 'assets/scss/form.scss';
@import 'assets/scss/spinner.scss';
@import 'assets/scss/viewcomponent.scss';

body {
  direction: rtl !important;
  color:#fff;
}
/*basic color **/
.text-base-color {
  color:var(--text-base-color);
}
.text-bold {
  font-weight: 600;
}
.background-primary {
  background-color: var(--background-button);
  color:var(--color-button);
  font-size: 1rem;
  &:hover {
    color: var(--background-button);
    background-color:var(--color-button);
  }
}
.background-save {
  background-color: var(--layout-background-color);
  color:var(--text-base-color);
  font-size: 1rem;
  &:hover {
    color: var(--layout-background-color);
  background-color:var(--text-base-color);
  }
}
/**header*/
// nb-layout.window-mode .layout nb-layout-header {
//   width:calc(100% - var(--sidebar-width));
//   margin-left: 0;
// }
// tr.mat-header-row,.mat-header-cell {
//   height: 56px;
//   background-color: #0070cd;
//   color: #fff;
//   font-size: 1.2rem;
// }
nb-layout-header.fixed ~ .layout-container {
  padding-top : 0;
}
// nb-layout-header.fixed ~ .layout-container nb-sidebar .main-container {
//   height : 100%;
// }
/*sidemenu*/
// nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
//   top: 0;
// }
/* content **/
.layout-container {
  background: var(--layout-background-color);
}
.layout-container .content {
  padding-top: var(--header-height);
}
.mat-menu-content:not(:empty) {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  background-color: var(--dark-color-basic);
  border: 1px solid var(--dark-color-basic);
  // border-radius: 7px;
  color:var(--menu-text-color);
}

nb-menu .menu-item {
  border-bottom: none;
  padding: 0.7rem 0.3rem;
  position: relative;

}
nb-menu .menu-item .menu-item:first-child {
  border-top : none;
}
// nb-sidebar {
//   border-radius: 50px 0 0 50px;
// }
/** user menu*/
nb-context-menu nb-menu {
  background: #94c0ef;
  text-align: center;
}
.mat-icon-button {
  width: 100%;
  background-color: transparent;
  color:var(--menu-item-active-text-color);
  border-bottom: 1px solid #747474;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: transparent;
      color: var(--text-base-color);
    }
}
button.mat-menu-item {
  width: 100%;
  background-color: transparent;
  color:var(--menu-text-color);
  border-bottom: 1px solid #747474;
  svg{
    padding:0 0.5rem;
  }
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #ddd;
      color: var(--dark-color-text);
    }
}
.mat-menu-item:hover:not([disabled]) {
  width: 100%;
  background-color: transparent;
  color:var(--dark-color-text);
  border-bottom: 1px solid #ddd;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #ddd;
      color: var(--dark-color-text);
    }
}

.help-block {
  color:red;
}
.mat-dialog-container {
  background-color: #fff;
  overflow: hidden !important;
}
.add-btn {
  position:relative;
  .btn {
    position: absolute;
    top: 0;
    left: -38px;
    padding: 0.4rem 0.7rem;
    &:hover {
      background-color: #fff;
      color:#0070cd;
    }
  }
}

  .btn-outline-primary {
    color:var(--text-base-color);
  }
  .btn-add {
    padding: 0.3rem 0.6rem;
  }
  :host ::ng-deep {
    .table-data {
     .mat-select-panel .mat-option {
      background: #ddd !important;

    }
    .mat-option-text {
      color:#fff !important;
    }
    }
  }
  ::ng-deep div.cdk-overlay-container .cdk-overlay-pane {
    background-color: #ddd;
  }

.mat-table {
  background: inherit;
}
.mat-cell, .mat-footer-cell {
color:inherit;
}
.mat-header-cell {
  color:inherit;
  font-size: inherit;
  font-weight: inherit;
}
.mat-table {
  font-family: inherit;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger {
  background-color: inherit;
  color:inherit;
  font-size: inherit;
  font-family: inherit;
}
.mat-select-value {
  color:inherit;
}
  .mat-button.mat-primary.mat-button-disabled, .mat-button.mat-accent.mat-button-disabled,
  .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled,
  .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled,
  .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled,
  .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled,
  .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled {
    color:inherit;
  }

  .mat-snack-bar-container {
    &.error {
        .mat-simple-snackbar-action {
            color: var(--danger)
        }
    }

    &.success {
        .mat-simple-snackbar-action {
            color: var(--success)
        }
    }
}

.mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #3a6dc1;
}
div.cdk-overlay-container .cdk-overlay-pane {
  overflow-y: auto;
}
.mat-dialog-container {
  padding: 1px !important;
}
.mat-paginator-container {
  .mat-form-field {
  text-align: center !important;
}
.mat-paginator-page-size-select{
  width:50px
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
  padding:0
}
.mat-form-field-infix {
  border-top:0
}
.mat-paginator-page-size{
  align-items: center;
}
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinnerBtn:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #211f1f;
  border-top-color: #fffcfc;
  animation: spinner .8s linear infinite;
}
.translation {
  background: var(--trans-background-color);
}
